.container {
    margin: 1rem 8vh;

    /* display: flex; */
}
.product-container {
    display: flex;
    height: 31.2rem;
}

@media only screen and (max-width: 1300px) {


.product-container {
    height: 80vh;
}

}

@media only screen and (max-width: 768px) {


.product-container {
    height: 100vh;
}

}