.container {

    width: 16rem;
    height: 100%;
    background-color: rgb(241, 241, 241);
    /* border: 1px black; */
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container li{
  list-style: none;
}


@media (max-width: 600px) {
    .container {
      margin-left: 2rem;
        width: 8rem;
         padding: .4rem;

    }
}
