/* .spinner {
  margin: 5rem auto;
  text-align: center;
} */
.spinner{
    margin: 5rem auto;
  text-align: center;
  /* height: 6rem;
  width: 6rem; */
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}