.container {
  position: relative;
    width: 100%;
    margin-bottom: 16vh;
    display: flex;
    justify-content: space-around;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    width: 20vh;
    height: 20vh;
}

.imageContainer img {
    border-radius: 40%;
    width: 80%;
    height: 80%;
}

.container li{
    cursor: pointer;
    text-align: center;
}

.container h6{
    margin-top: .5rem;
    font-size: 1.2vw;
    color: rgb(63, 63, 63);
}

.container div:hover h6 {
    color: rgb(90, 88, 110);
}

@media screen and (min-width: 1800px) { 


.image-container {
   
    width: 16rem;
    height: 16rem;
}
.container h6{
 
    font-size: 1.8em;
}


}