* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: rgb(230, 231, 233);
  overflow-x: hidden;

}
main {
  min-height: 90vh;
  
}
footer {
  margin-top: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

li {
  list-style: none;
}

.warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 2rem;

}



@media screen and (min-width: 2000px) {


main, header div, footer div {
  max-width: 2000px;
  margin: auto;
}


}