.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: -0.5rem;
  right: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: none;
}

.text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  padding: 0.7rem 1.6rem;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #ddd;
}

.buttons button:active {
  transform: scale(0.95);
}

.buttons button:first-child {
  background-color: #c4c4c4;

  color: white;
}

.buttons button:first-child:hover {
  background-color: #dbd3d3;
}

.buttons button:last-child {
  background-color: #4a8a4c;

  color: white;
}

.buttons button:last-child:hover {
  background-color: #517a53;
}

@media (max-width: 768px) {
  .buttons button {
    font-size: 12px;
  }

  .text {
    font-size: 14px;
  }
}
