.container {
  margin-top: 5rem;
}

.goBack {
   
    width: 1.8rem;
    color: rgb(59, 58, 58);
    position: absolute;
margin-left: -2rem;
margin-top: -.8rem;
cursor: pointer;
}



.receiveCode {
  display: flex;
  margin: .5rem 0;
  /* height: 2.5rem; */
}

.receiveCode button,
.footerButtons button {
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 0.8rem;
}

.receiveCode button:hover, .footerButtons button:hover {
  opacity: 0.8;
}
.receiveCode button:active,
.footerButtons button:active {
  opacity: 0.7;
  margin-top: -1px;
}

.receiveCode button {
  box-shadow: 1px 3px 2px rgb(173, 173, 173);

  width: 10rem;
  height: 2.4rem;
  background-color: #4b74a5;
  color: rgb(210, 226, 244);
}

.receiveCode input {
padding: .7rem;
  margin-right: .5rem;
  width: 11rem;
  border: 1px solid rgb(203, 203, 203);
  border-radius: .8rem;
}

.receiveCode input::-webkit-inner-spin-button,
.receiveCode input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
