.container {
    background-color: #c8c9d1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
height: 2rem;
cursor: pointer;
transition: all .3s;
}
.container:hover {
    background-color: #dcdce1;
}

.container svg {
    height: 1rem;
    color: rgb(59, 57, 57)
}